<div class="info">
    <h3>Colours demo:</h3>
    <p>Key changes</p>
      <ul>
        <li>New array buffer for RGBA colour values is created</li>
        <li>The model now has colours and another triangle</li>
        <li>The 'varying' keyword in the shaders pass colour from the 
        vertex shader via rasterizer to the fragment shader
        (which results in the gradient). Notice how both shaders have
        the same 'varying' variable.
      </li>
    </ul>
  </div>
<canvas #glCanvas></canvas>
